services:
  app:
    build:
        context: .
    container_name: service
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - db
      - redis
    environment:
      - "SPRING_PROFILES_ACTIVE=docker"
    networks:
      - net

  db:
    image: postgres:16
    restart: always
    container_name: db_users
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: usersDB
      POSTGRES_URL: jdbc:postgresql://postgres:5432/usersDB
    networks:
      - net

  redis:
    image: redis:5.0.3-alpine
    restart: always
    container_name: redis_users
    ports:
      - "6379:6379"
    networks:
      - net
    environment:
      REDIS_URL: redis://redis:6379

networks:
  net:
     driver: bridge


volumes:
  db_data: {}