services:
  app:
    build:
      context: .
    container_name: service
    ports:
      - "8084:8084"
    restart: always
    depends_on:
      - postgres
      - redis
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - net
    env_file:
      - .env

  postgres:
    image: postgres:16
    restart: always
    container_name: db_users
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_LOGIN}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_URL: ${DDB_URL}
    networks:
      - net

  redis:
    image: redis:5.0.3-alpine
    restart: always
    container_name: redis_users
    ports:
      - "6379:6379"
    environment:
      REDIS_URL: redis://redis:6379
    volumes:
      - redis_data:/var/lib/redis/data
    networks:
      - net

networks:
  net:
    driver: bridge

volumes:
  db_data:
  redis_data:
